<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492189114794-3nb4pigfg4fvm74aj0ucsirt82sqb0m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492189114794-3nb4pigfg4fvm74aj0ucsirt82sqb0m0</string>
	<key>API_KEY</key>
	<string>AIzaSyDuKvPSkMklW2vboDqaH-rurvAMT4_SNl0</string>
	<key>GCM_SENDER_ID</key>
	<string>492189114794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iP.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-25b26</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-25b26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492189114794:ios:6af72e2357ad65b9</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-25b26.firebaseio.com</string>
</dict>
</plist>